    <section>
<!--recipe cards-->
<div class="row row-cols-1">
  <div class="col">
    <div class="card">
      <img src="image/{{image}}" class="card-img-top recipe-div1" alt="...">
      <div class="card-body">
         <h2 id="Recipes" class='card-title pt-3 text-center'>{{name}}</h2>
        <p class="card-text"><div class='container'>
        <div class='row'>
          <div class='col-6'>
            <h3>INGREDIENTS</h3>
             {{#each recipe_ingredients as |recipe_ingredient|}}
            <p>Ingredient Name: &nbsp;{{ingredient_name}}</p>
            <p>Quantity:&nbsp; {{quantity}} Unit:&nbsp;{{unit}} <pre> 
            </pre></p>
            {{/each}}
          </div>
          <div class='col-6'>
            <h3>DIRECTIONS</h3>
            <p>{{description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <script src='js/view-recipe.js' type='text/javascript'></script>
    </section>

