<section class="container">
 <div> <h1>RECIPES</h1>
    {{#each recipes}}
        {{#dataValues}}
            <p>Recipe: {{name}}</p>
            <p>IMAGE:{{image}}</p>
            <p>Description:{{description}}</p>
            {{!-- <p>Ingredients:{{recipe_ingredients[0].ingredient_name}} {{recipe_ingredients[0]_quantity}} {{recipe_ingredients[0].unit}}</p> --}}
        {{/dataValues}}
        {{/each}}
</div> 
   